 /*--------------------------;*/
/*Basic setup;*/
/*green color #2ecc71; */
/*--------------------------;*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  background-color: #fff;
  color: blue#555;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;                                                                      
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*--------------------------;*/
/*Resuable components;*/
/*--------------------------;*/
.row{
  max-width:1140px;
  margin: 0 auto;
}

section{
  padding: 80px 0;
}
.box{
  padding: 1%;
}
.box p{
  font-size: 90%;
  line-height: 145%; 
}
/*---icons---;*/
.icon-big{
  font-size: 350%;
  display: block;
  color:  #2ecc71;
  margin-bottom: 10px;
  text-align: center;
}
.icon-small{
  font-size: 80%;
  display: block;
  color:  #2ecc71;
  float: left;
  
}
/*---Buttons---;*/
 .btn:link,
 .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
 }

 .btn-full:link,
 .btn-full:visited {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  margin-right: 15px  
 }
 .btn-secondary:link,
 .btn-secondary:visited {
  border: 2px solid #2ecc71; 
 }
 .btn:hover,
 .btn:active {
  background-color: #1b7943;
 }
 .btn-full:hover,
 .btn-full:active {
  border: 1px solid #1b7943;  
 }
 .btn-secondary:hover,
 .btn-secondary:active {
  border: 2px solid #1b7943;  

 }

/*--------------------------;*/
/*Header;*/
/*--------------------------;*/

header {
  background-image:linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,0.3)), url(img/221.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:100vh;
  color: #fff;
 }

 .title-text {
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
 }
.logo {
  height: 60px;
  width: auto;
  float: left;
  margin-top: 60px;
}
.main-nav{
  float:right;
  list-style: none;
  margin-top: 80px;
  background-color: 

}
.main-nav li{
  display:inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;

  }
.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #2ecc71;

}
/*---headings---;*/
 h1,
 h2,
 h3 {

   font-weight: 300%;
   text-transform: uppercase;
   text-decoration: none;
   
 }
 h1 {
   margin-top: 0;
   margin-bottom: 15;
   color: #fff;
   font-size: 220%;
   word-spacing: 4px;
   text-decoration: none;
   letter-spacing: 1px;

 }
a{
  text-decoration: none;
}

h2 {
   font-size: 180%;
   word-spacing: 2px;
   text-align: center;
   margin-bottom: 30px;
   letter-spacing: 1px;
   font-weight: 200%;
 }

 h3 {
   font-size: 110%;
   word-spacing: 2px;
   text-align: center;
   margin-bottom: 15px;
 }
    h2:after {
    display: block;
    height: 3px;
    background-color: #2ecc71;
    content: " ";
    width: 100px;
    margin: 30px auto;

    }
/*---paragraphs---;*/
.long-copy{
  line-height: 140%
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
/*--------------------------;*/
/*Features;*/
/*--------------------------;*/

.section-features .long-copy{
  margin-bottom: 30px;
}

 /*--------------------------;*/
/*Workout styles;*/
/*--------------------------;*/

.section-workouts{
  padding: 0;
  background-attachment: fixed;
}
.workout-showcase {
  list-style: none;
  width: 100%;
}
.workout-showcase li {
  display:block;
  float:left;
  width:25%;
}
.workout-photo {
  width:100%;
  margin:0;
  overflow: hidden;
  background-color: #000;  
}
.workout-photo img{
  opacity: 0.7;
  width:100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.workout-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/*--------------------------;*/
/*How it works section;*/
/*--------------------------;*/
.section-steps{
  background-color: #f8f8f8; 
}
.steps-box:first-child{
  text-align:right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child{
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen{
  width:50%;
  margin-left: 40%;
}
.works-step{
  margin:50px 0;
}

.works-step div{
  color: #2ecc71;
  border:2px solid #2ecc71;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float:left;
  font-size: 150%;
  margin-right: 25px;
}
/*--------------------------;*/
/*Reviews;*/
/*--------------------------;*/

.section-reviews{
background-image:linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,0.2)), url(img/weights.jpg);
background-size:cover;
color: #fff;
background-attachment: fixed;
 }
/*--------------------------;*/
/*Section pricing;*/
/*--------------------------;*/

 .section-pricing{
  background-color: #f4f4f4; 

}

.payment-box{
background-color: #fff;
border-radius: 10px;
width: 90%;
margin-left: 5%;


}
.payment-box div{
  padding: 25px;
  border-bottom: 1px solid #E6E6E6FF;

}
.price-heading{
font-size: 250%;
margin-bottom: 10px;
font-weight: 100;
color: #2ecc71;
}
.price-heading span {
  font-size: 30%;
  font-weight: 300;
  
  }
.price-subheading{
font-size: 80%;
font-weight: 10;
color: #666;
}
.payment-box ul{
  list-style: none;
}
/*--------------------------;*/
/*footer;*/
/*--------------------------;*/
.footer


















